h2 {
  color: aliceblue;
  padding-top: 2rem;
  font-size: 3rem;
}

a {
  color: aliceblue;
}

.campground-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  font-size: 1.3rem;
  overflow-y: scroll;
  height: 30%;
  padding-bottom: 5rem;
}

.fire-gif2 {
  width: 200px;
  margin: auto;
  display: block;
  padding-top: 10rem;
}
