h2 {
  color: aliceblue;
  font-size: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}

a {
  color: aliceblue;
}

.heading {
  margin-top: -2rem;
  position: fixed;
}

.campground-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  font-size: 1.3rem;
  overflow-y: scroll;
  padding-top: 0.75rem;
  height: 215px;
}

.campsite-list {
  color: #020202;
  background: rgb(41, 44, 48, 0.75);
  -webkit-box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 0.4rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  letter-spacing: 0.1rem;
}

.campsite-list a {
  text-decoration: none;
}

.fire-gif2 {
  width: 250px;
  margin: auto;
  display: block;
  padding-top: 7rem;
  padding-left: 3.2rem;
}
