.current-weather-card {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.current-weather-card p {
  margin: 0;
}

.ten-hour-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow-x: scroll;
  margin: auto;
  font-size: 1.6rem;
  border-top: 3px solid aliceblue;
}

.hour-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: aliceblue;
  border-right: 3px solid aliceblue;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.hour-weather-card p {
  margin: 0.5rem;
}

.ten-day-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;
  border-top: 3px solid aliceblue;
}

.day-weather-card {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
  color: aliceblue;
  border-bottom: 3px solid aliceblue;
  letter-spacing: 0.1rem;
}
