.findcamps-button {
  font-size: 2.4rem;
  text-decoration: none;
  background: rgb(41, 44, 48, 0.75);
  -webkit-box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0);
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.find-btn {
  margin-top: 13rem;
}

.fire-gif {
  width: 150px;
  margin: auto;
  display: block;
  padding-top: 17rem;
  padding-right: 11rem;
}
