.heading {
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100vw;
  background: rgba(112, 128, 144, 0.774);
  color: azure;
}

.go-back {
  position: absolute;
  font-size: 2rem;
  margin-left: 0.4rem;
  color: aliceblue;
  cursor: pointer;
}
