.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 375px;
  background: rgb(41, 44, 48, 0.75);
  color: azure;
  padding-bottom: 0.4rem;
}

.go-back {
  font-size: 2rem;
  color: aliceblue;
  cursor: pointer;
  padding-right: 6rem;
}

.header-title {
  text-decoration: none;
}
