footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 3rem;
  bottom: 0;
  width: 100vw;
  background: rgb(41, 44, 48);
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: aliceblue;
  cursor: pointer;
}
