.App {
  text-align: center;
}

.App-title {
  font-size: 4rem;
  color: aliceblue;
  padding-top: 5rem;
  padding-bottom: 7rem;
  font-family: 'Shadows Into Light', cursive;
}

.loading-fetch {
  color: whitesmoke;
}
