.App {
  text-align: center;
}

.App-title {
  font-size: 2.5rem;
  color: aliceblue;
  padding-top: 5rem;
  padding-bottom: 10rem;
  font-family: 'Shadows Into Light', cursive;
}

.loading-fetch {
  color: whitesmoke;
}
